*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Roboto',
   sans-serif;
   width: 100%;
   height: 100vh;
   background: #F0EBEF;
}
/* header section */
.header{
   background:#365186;
   width: 100%;
   padding: 8px 19px;
}
.header h3{
   color: #fff;
   font-weight: 400;
   letter-spacing: 3px;
   font-size: 14px;
}
/* form section */
#myForm, section{
   width: 95%;
   margin: 25px auto;
   padding: 25px 20px;
   background: #F0EBEF;
   border:1px solid #ccc;
}
#myForm h2{
   padding-bottom: 10px;
}
#myForm h5{
   padding-bottom: 10px;
   color: #0a0a0a;
   font-weight: 300;
}
#myForm .my_input{
   width: 100%;
   padding: 9px 20px;
   border: none;
   box-shadow: 0 0 5px 1px #ccc;
   border-radius: 10px 40px;
   outline: none;
   color: #090909;
   text-transform: capitalize;
}
#myForm .form_btn{
   width: 95%;
   font-size: 12px;
   margin: 0 auto;
   margin-top: 10px;
   border: none;
   background-color:#5CA67E;
   display: block;
   padding: 13px 0;
   border-radius: 50px 10px;
   color: #fff;
   cursor: pointer;
}
#myForm .form_btn:hover{
   background: rgba(92, 166, 126, 0.7);
}
@media screen and (min-width:776px) {
   #myForm{
      width: 80%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
   }
   .btn_grid {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns:70% 30%;
      
   }
   .btn_grid .form_btn {
      width: 100%;
   }
   
   .btn_grid .my_input {
      width: 100%;
   }
   .header{
      padding: 8px 122px;
   }
}
/* profile */
.div_details .img_div{
   width: 100%;
   height: 400px;
   background: #000;
}
.div_details .img_div img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.div_details .img_div:hover img {
  opacity: 0.7;
}
.div_details a{
   display: inline-block;
   text-decoration: none;
   color: #fff;
   background: rgb(85, 130, 217);
   margin-top: 5px;
   width: 100%;
   padding: 8px 0;
   text-align: center;
   border-radius: 12px;
   font-size: 12px;
   border-radius: 10px 40px;
   cursor: pointer;
}
.div_details a:hover{
   opacity: 0.7;
}
.btn_div{
   margin: 10px 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
.btn_div a{
   text-decoration: none;
   color:#fff;
   display: inline-block;
   font-weight: 500;
   font-size: 10px;
   padding: 6px 8px;
   border-radius:40px 10px ;
   text-align: center;
}
.btn_div a:hover{
   opacity: 0.7;
}
.btn_div a:nth-child(1){
   background: rgb(85, 130, 217);
}
.btn_div a:nth-child(2){
   background: rgb(178, 176, 176);
}
.btn_div a:nth-child(3){
   background: rgb(86, 162, 121);
}
.btn_div a:nth-child(4){
   background: rgb(100, 153, 163);
}
.detail_div div{
   padding: 8px;
   /* margin-bottom: 1px; */
   border-top: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
}
.detail_div div:last-child{
   border-bottom: 1px solid #ccc;
}
.detail_div div h4{
   font-weight: 300;
   font-size: 12px;
}

@media screen and (min-width:996px) {
   #profile {
      width: 80vw;
      padding-top: 40px;
   }

   .section_center {
      display: grid !important;
      grid-template-columns: 200px 65%;
      grid-column-gap: 50px;
      align-items: flex-start;
   }

   .div_details .img_div {
      width: 80%;
      height: 150px;
      background: #000;
   }

   .btn_div {
      margin-top: -15px !important;
   }

   .detail_div div {
      padding: 15px;
   }

   .div_details {
      margin-top: 22px;
   }

   .div_details a {
      width: 80%;
   }
}
/* repo */
#repos{
   border: none;
   padding: 5px 5px;
}
#repos h2{
   text-transform: capitalize;
   font-weight: 400;
   padding-bottom: 10px;
}
.single-repo a{
   text-decoration: none;
   color:#fff;
   display: inline-block;
   font-weight: 500;
   font-size: 10px;
   padding: 3px 10px;
   border-radius:40px 10px ;
   text-align: center;
}
.single-repo{
   display: grid;
   grid-template-columns: 1fr 2fr;
   place-content: center;
   margin-bottom: 5px;
   border: 1px solid #ccc;
   padding:7px 0;
}
.single-repo .first a{
   color: rgb(85, 130, 217);
}
.second :nth-child(1){
   background: rgb(85, 130, 217);
}
.second a:hover{
   opacity: 0.7;
}
.first a:hover{
   text-decoration-line: underline;
}
.second :nth-child(2){
   background: rgb(178, 176, 176);
}
.second :nth-child(3){
   background: rgb(86, 162, 121);
}
@media screen and (min-width:996px) {
   #repos {
      width: 80vw;
   }
   .single-repo a {
      padding: 5px 25px;
   }
}
/* footer */
.footer{
   background-color: rgb(92, 166, 126,0.7);
   padding: 7px 0
}
.footer h4{
   font-weight: 300;
   font-size: 12px;
   text-align: center;
}
